<div class="container">
  <% @articles.each do |article| %>
    <h1 class="d-flex justify-content-center text-primary"><%= link_to "#{article.title}", article_path(article) %></h1>
    <p class="d-flex justify-content-center"><%= article.content %></p>
  <% end %>
</div>
